<h1> bienvenido a pastalandia</h1>

<ul>
    <li><a href="/api/products">Nuestros Productos</a></li>
    <li><a href="/api/products/new">Nuevo Producto</a></li>
    <li><a href="/api/product/update">actualizar Producto</a></li>
</ul>