
    <h3 style="text-align: left" ;>Agregar Productos</h3>
</div>
<div>
    <form action="/api/products" method="post" enctype="multipart/form-data" style="background-color: rgb(218, 222, 222)" id="dataForm">
        <label for="title">title</label>
        <input type="text" id="title" name="title">
        <label for="description">description</label>
        <input type="text" id="description" name="description">
        <label for="price">price</label>
        <input type="int" id="price" name="price">
        <label for="codProd">codigo Prod</label>
        <input type="int" id="codPro" name="codProd">
        <label for="thumbnail">imagen</label>
        <input type="file"  name="image">
        <label for="category">category</label>
        <input type="text" id="category" name="category">
        <label for="stock">stock</label>
        <input type="text" id="stock" name="stock">
        <input type="submit" value="crear Producto"></input>

    </form>
</div>
